li {
  background-color: #333;
  box-shadow: 5px 5px 5px #333;
}

li:hover {
  background-color: rgb(65, 68, 65);
}

a {
  color: aliceblue;
}

.rounded-left-corners {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.rounded-right-corners {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

@media only screen and (min-width: 350px) {
  /* .menu-style {
    margin: 35px 0;
    width: 100%;
  } */
}