html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

p, a, h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

p {
  color: rgb(75, 74, 74);
}

img {
  max-width: 100%;
}

.point-display {
  left: 790px;
}

.point-syntax {
  left: 870px;
}

.point-values {
  left: 950px;
}

.point-examples {
  left: 1040px
}