html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

.point-display {
  left: 790px;
}

.point-syntax {
  left: 870px;
}

.point-values {
  left: 950px;
}

.point-examples {
  left: 1040px
}